:root.theme-light {
  --cover-image-light: url("../images/cover-image-light.png");
  --main-cover-image: var(--cover-image-light);
  --accent-color: var(--light-deep-grey);
  --bg-color-page: var(--light-white);
  --accent-color-hover: rgb(from var(--light-deep-grey) r g b / 0.4);
  --color-header__title: var(--light-light-pink);
  --color-shadow: var(--light-pink);
  --color_title-decor: var(--light-deep-grey);
  --bg-color__title-decor: var(--light-pink);
  --color-text: var(--light-deep-grey);
}

.theme-light .page {
  background-image: var(--cover-image-light);
  background-color: var(--bg-color-page);
}

.theme-light .decorative {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image-light: url("../images/cover-image-light.png");
    --main-cover-image: var(--cover-image-light);
    --accent-color: var(--light-deep-grey);
    --bg-color-page: var(--light-white);
    --accent-color-hover: rgb(from var(--light-deep-grey) r g b / 0.4);
    --color-header__title: var(--light-light-pink);
    --color-shadow: var(--light-pink);
    --color_title-decor: var(--light-deep-grey);
    --bg-color__title-decor: var(--light-pink);
    --color-text: var(--light-deep-grey);
  }

  .decorative {
    display: none;
  }
}
